body {
  margin: 0;
  padding: 0;
  background-image: url(../images/Star-wars-logo-new-tall.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Courier New";
  height: 100vh;
  position: relative;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.login {
  opacity: 0.5;
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ffffff;
  transition: opacity 0.3s;
}
.login h4 {
  font-size: 40px;
  color: #ffff4d;
}
.login input {
  box-shadow: none;
  border-radius: 5px;
  border-color: white;
  margin: 10px 0;
  display: block;
  width: 380px;
  height: 40px;
  padding-left: 10px;
}
.login input:focus {
  background-color: #000000;
  color: #ffff4d;
}
.login button {
  background: #ffff4d;
  color: #000000;
  width: 394px;
  height: 40px;
}
.login button:hover {
  background: #ffff00;
  box-shadow: 0px 0px 10px #ffcc00;
}
.login:hover {
  opacity: 1;
}

.dropbtn, li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropbtn:hover .dropbtn, li a:hover {
  background-color: #f9f9f9;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
li .log-out {
  float: right;
}
li .dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  margin: 10px auto;
  padding: 0;
  width: 96%;
  min-height: 100vh;
}

.left {
  opacity: 0.9;
  float: left;
  width: 68%;
  margin: 0;
  height: auto;
}
.left .block-header {
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 10px;
}
.left .search {
  margin: 0 0 10px 0;
  padding: 20px;
  border-radius: 5px;
  background-color: #e6e6e6;
}
.left .search input {
  width: 99%;
  height: 30px;
  padding: 5px;
  margin: 0;
}
.left .block {
  margin: 0 0 10px 0;
  padding: 10px 0;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 10px;
  position: relative;
}
.left .block a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  margin-bottom: 10px;
}
.left .block a:hover {
  color: white;
}
.left .block svg {
  position: absolute;
  top: 10px;
  right: 10px;
}
.left .block svg:hover {
  box-shadow: 0 0 10px #333333;
  cursor: pointer;
}
.left .block span {
  padding: 5px;
  border-radius: 5px;
  background-color: #999999;
  transaction: color 0.3s;
}
.left .block span:hover {
  color: white;
  cursor: pointer;
  background-color: #bfbfbf;
}
.left .block .detail {
  padding: 20px 0;
  display: none;
  text-align: justify;
  overflow: auto;
  word-wrap: break-word;
  trasaction: display 0.3s;
}
.left .block .active {
  display: block;
}
.left .block input {
  margin: 0 0 10px 0;
  width: 99%;
  height: 30px;
  padding: 5px;
}
.left .block button {
  margin: 0;
  width: 100%;
  height: 30px;
  padding: 5px;
}
.left .block button:hover {
  color: white;
  background-color: #bfbfbf;
}

.right {
  float: right;
  width: 28%;
  margin: 0;
  height: auto;
  padding: 0 10px;
  top: 55px;
  right: 50px;
}
.right .themes {
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 5px;
  padding: 10px;
}
.right .themes a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.right .themes a:hover {
  color: white;
}

footer {
  padding: 20px;
  height: 100px;
  text-align: center;
  background: #ddd;
  opacity: 0.8;
  width: 96%;
  margin: 20px auto;
  float: left;
}